* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e7d32;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 32px;
  /* border: 1px solid black; */
}

header {
  text-align: center;
}

.dealer,
.player {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.dealer-cards,
.player-cards {
  width: 100px;
  height: 140px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* .deal-cards:disabled {
  opacity: 1; 
  filter: none;
  color: inherit;
} */

button {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  width: 170px;
  height: 50px;
  background-color: #1565c0;
  border: none;
}

button:hover {
  background-color: #083f7e;
}

button:active {
  background-color: red;
}

.interaction {
  max-width: max-content;
  margin: 30px auto;
}

.statistics {
  max-width: max-content;
  margin: 30px auto;
}
